AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
RESOURCE_GROUP=AssetAllocationRG
ACR_NAME=assetallocationacr
ACR_PULL_IDENTITY_NAME=asset-allocation-acr-pull-mi
CONTAINER_APPS_ENVIRONMENT_NAME=asset-allocation-env
SERVICE_ACCOUNT_NAME=asset-allocation-sa
UI_APP_NAME=asset-allocation-ui
UI_PUBLIC_HOSTNAME=
CONTRACTS_REPOSITORY=
CONTRACTS_REF=main
API_UPSTREAM=asset-allocation-api.braveground-4b8beb5c.eastus.azurecontainerapps.io
API_UPSTREAM_SCHEME=https
UI_AUTH_ENABLED=true
UI_AUTH_PROVIDER=oidc
UI_ALLOWED_INGRESS_CIDRS=
UI_OIDC_AUTHORITY=
UI_OIDC_CLIENT_ID=
UI_OIDC_SCOPES=
UI_OIDC_AUDIENCE=
NPMRC=
