AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
RESOURCE_GROUP=AssetAllocationRG
ACR_NAME=assetallocationacr
ACR_PULL_IDENTITY_NAME=asset-allocation-acr-pull-mi
CONTAINER_APPS_ENVIRONMENT_NAME=asset-allocation-env
SERVICE_ACCOUNT_NAME=asset-allocation-sa
UI_APP_NAME=asset-allocation-ui
CONTRACTS_REPOSITORY=
CONTRACTS_REF=main
API_UPSTREAM=
UI_AUTH_ENABLED=false
NPMRC=
