node_modules/
dist/
coverage/
artifacts/
.vite/
.pnpm-store/
.eslintcache
playwright-report/
test-results/
blob-report/
*.tsbuildinfo
*.log
pnpm-debug.log*
npm-debug.log*
yarn-error.log*
.env
.env.*
!.env.template
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
.DS_Store
Thumbs.db
